/* ==UserStyle==
@name           Clean ChatGPT
@namespace      github.com/kane-c/usercss
@version        1.3.6
@description    Clean for anonymous usage
@author         @kane-c
@updateURL      https://raw.githubusercontent.com/kane-c/usercss/refs/heads/main/chatgpt.user.css
==/UserStyle== */
@-moz-document domain("chatgpt.com") {
  /* ChatGPT front page title */
  div[data-splash-headline-option] div div,
  /* Top nav with login buttons */
  #page-header,
  /* And mobile */
  .sticky.h-header-height,
  /* Sidebar */
  #stage-slideover-sidebar,
  /* Starter prompts */
  #page-header + .flex > .flex,
  /* Terms popup */
  #thread-bottom .start-0,
  /* Disclaimer */
  #thread-bottom~div,
  /* Voice button */
  button[aria-label="Start Voice"],
  /* Create Image button (requires login) */
  [data-testid="composer-footer-actions"] div > :has([data-testid="composer-button-create-image"]),
  /* Attach menu items requiring login */
  .__menu-label,
  .__menu-item[data-disabled="true"],
  div[role="group"]:has(.__menu-label):before,
  /* Google sign-in on mobile */
  body > iframe,
  /* Ads */
  body > .popover {
    display: none !important;
  }

  /* Remove space after removing nav */
  :root {
    --header-height: 0;
  }

  .-mb-\(--composer-overlap-px\) {
    margin-bottom: -7.5rem;
  }
}
