/* ==UserStyle==
@name           Hacker News
@namespace      github.com/kane-c/usercss
@version        1.1.0
@description    Clean Hacker News
@author         @kane-c
@updateURL      https://raw.githubusercontent.com/kane-c/usercss/refs/heads/main/hackernews.user.css
==/UserStyle== */
@-moz-document domain("news.ycombinator.com") {
  body {
    color: #1d1d1f;
    font-family:
      system-ui,
      -apple-system,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      "Noto Sans",
      "Liberation Sans",
      Arial,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
    -webkit-font-smoothing: antialiased;
    font-size: 17px;
    letter-spacing: -0.022em;
    line-height: 1.47059;
    margin: 0 auto;
    width: 816px;
  }

  #hnmain {
    background: none;
    width: 100%;
  }

  table,
  td,
  .title,
  .subtext,
  .default,
  .comhead,
  .comment {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  .comhead > a:first-child {
    font-weight: bold;
  }

  .votelinks {
    width: 1px;
  }

  .votelinks a,
  .reply,
  form[action="comment"],
  .fatitem + br {
    display: none;
  }

  .default,
  .comhead a:link,
  .subtext {
    color: #6e6e73;
  }

  .default p {
    margin: 0 0 1em 0;
  }

  .c00,
  .coo a:link {
    color: #1d1d1f;
  }

  .commtext p:first-child {
    margin-top: 1rem;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background: #111;
    }

    body,
    a:link,
    .c00,
    .coo a:link {
      color: #fff;
    }

    .default,
    .comhead a:link,
    .subtext {
      color: #999;
    }
  }
}
